{% for post in posts %}
    <article class="post">
        <h2>
            <a href="{{ path('blog_post', {slug: post.slug}) }}">
                {{ post.title }}
            </a>
        </h2>

        <p class="post-metadata">
            <span class="metadata"><twig:ux:icon name="tabler:calendar-month"/> {{ post.publishedAt|format_datetime('long', 'medium', '', 'UTC') }}</span>
            <span class="metadata"><twig:ux:icon name="tabler:user"/> {{ post.authorFullName is defined ? post.authorFullName : post.author.fullName }}</span>
        </p>

        <p>{{ post.summary }}</p>

        {% set tags = post.tags is iterable ? post.tags : [] %}
        {% if tags is not empty %}
            <p class="post-tags">
                {% for tag in tags %}
                    {% set tagName = tag.name is defined ? tag.name : tag %}
                    <a href="{{ path('blog_index', {tag: activeTag == tagName ? null : tagName}) }}"
                       class="badge badge-{{ tagName == activeTag ? 'success' : 'secondary' }}"
                    >
                        <twig:ux:icon name="tabler:tag" style="top: 0"/> {{ tagName }}
                    </a>
                {% endfor %}
            </p>
        {% endif %}
    </article>
{% else %}
    <div class="bg-body-tertiary mb-3 p-3 rounded">{{ 'post.no_posts_found'|trans }}</div>
{% endfor %}
