{% extends 'base.html.twig' %}

{% block body_id 'blog_index' %}

{% block main %}
    <div class="d-flex justify-content-between align-items-center mb-3">
        <div>
            <a href="{{ path('blog_all') }}" class="btn btn-sm btn-outline-primary">All pages (fork)</a>
            <a href="{{ path('blog_all_fork', {num: 9}) }}" class="btn btn-sm btn-outline-primary">All pages (fork/9)</a>
            <a href="{{ path('blog_ext_parallel') }}" class="btn btn-sm btn-outline-secondary">All pages (ext-parallel)</a>
            <a href="{{ path('blog_ext_parallel_num', {num: 9}) }}" class="btn btn-sm btn-outline-secondary">All pages (ext-parallel/9)</a>
        </div>
        <small class="text-muted text-nowrap ms-3">{{ elapsed_ms }} ms</small>
    </div>

    {% for post in paginator.results %}
        {{ include('blog/_post.html.twig') }}
    {% else %}
        <div class="bg-body-tertiary mb-3 p-3 rounded">{{ 'post.no_posts_found'|trans }}</div>
    {% endfor %}

    {% if paginator.hasToPaginate %}

        <div class="navigation text-center">
            <ul class="pagination pagination-lg">
                {% if paginator.hasPreviousPage %}
                    <li class="page-item">
                        <a class="page-link" href="{{ path('blog_index_paginated', {page: paginator.previousPage, tag: tagName}) }}" rel="previous">
                            <twig:ux:icon name="tabler:arrow-left"/> {{ 'paginator.previous'|trans }}
                        </a>
                    </li>
                {% else %}
                    <li class="page-item disabled">
                        <span class="page-link"><twig:ux:icon name="tabler:arrow-left"/> {{ 'paginator.previous'|trans }}</span>
                    </li>
                {% endif %}

                {% for i in 1..paginator.lastPage %}
                    {% if i == paginator.currentPage %}
                        <li class="page-item active">
                            <span class="page-link">{{ i }} <span class="sr-only">{{ 'paginator.current'|trans }}</span></span>
                        </li>
                    {% else %}
                        <li class="page-item"><a class="page-link" href="{{ path('blog_index_paginated', {page: i, tag: tagName}) }}">{{ i }}</a></li>
                    {% endif %}
                {% endfor %}

                {% if paginator.hasNextPage %}
                    <li class="page-item">
                        <a class="page-link" href="{{ path('blog_index_paginated', {page: paginator.nextPage, tag: tagName}) }}">
                            <span>{{ 'paginator.next'|trans }} <twig:ux:icon name="tabler:arrow-right"/></span>
                        </a>
                    </li>
                {% else %}
                    <li class="page-item disabled">
                        <span class="page-link">{{ 'paginator.next'|trans }} <twig:ux:icon name="tabler:arrow-right"/></span>
                    </li>
                {% endif %}
            </ul>
        </div>
    {% endif %}
{% endblock %}

{% block sidebar %}
    {{ parent() }}

    {{ show_source_code(_self) }}
    {{ include('blog/_rss.html.twig') }}
{% endblock %}
